<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pdfview" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-pdfview</name>
    <js-module name="cordova-plugin-pdfview" src="www/cordova-plugin-pdfview.js">
        <clobbers target="pdfview" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="pdfview">
                <param name="android-package" value="com.jdata.nhzhjg.pdf.CordovaPluginPdfview" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.jdata.nhzhjg.pdf.PdfViewActivity" android:theme="@android:style/Theme.Black" />
        </config-file>
        <source-file src="src/android/activity_pdf_view.xml" target-dir="res/layout" />
        <source-file src="src/android/CordovaPluginPdfview.java" target-dir="src/com/jdata/nhzhjg/pdf" />
        <source-file src="src/android/PdfViewActivity.java" target-dir="src/com/jdata/nhzhjg/pdf" />

        <framework src="com.github.barteksc:android-pdf-viewer:2.8.2" />
    </platform>
</plugin>